# [START cloudbuild]
steps:

# This step builds the container image.
- name: 'gcr.io/lunch-and-learn/docker'
  id: Build
  args:
  - 'build'
  - '-t'
  - 'gcr.io/$PROJECT_ID/lunch-and-learn:$SHORT_SHA'
  - '.'

# This step pushes the image to Container Registry
# The PROJECT_ID and SHORT_SHA variables are automatically
# replaced by Cloud Build.
- name: 'gcr.io/lunch-and-learn/docker'
  id: Push
  args:
  - 'push'
  - 'gcr.io/$PROJECT_ID/lunch-and-learn:$SHORT_SHA'
# [END cloudbuild]
