html
  head
    title='Gosoft lunch and learn'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h3 Gosoft Lunch & Learn
        p 
        h1 Kubernetes.
        p
          by Prasong Chubao.
        p 
          a.btn.btn-primary(href="https://drive.google.com/open?id=1_n_W0hShsYlx3JpDUpxH37FKU92Wwcl0") Download My Presentation
        p
          a.btn.btn-primary(href="https://drive.google.com/open?id=1hAQaN177qAO8mlRz9KMuAbjUICqBtX47") Download course training Kubernetes Deep Drive
        p