html
  head
    title='Gosoft lunch and learn'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 lunch and Learn : Kubernetes !!!
        p 
        p 
          a.btn.btn-primary(href="https://drive.google.com/open?id=1_n_W0hShsYlx3JpDUpxH37FKU92Wwcl0") Download My Presentation
        p